@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');
*
{
    font-family: 'Edu NSW ACT Foundation', cursive;
    letter-spacing: 2px;
}
nav.navbar.navbar-expand-sm
{
    background-color: #999999;
    padding: 0;
}
.navbar-toggler:focus
{
    box-shadow: 0 0 0px 4px white;
    margin: 12px;
    color: white;
}
.navbar-toggler
{
    margin: 12px;
}
#last-one
{
    margin-bottom: 0;
}
#first-one
{
    margin-top: 0;
}
.container-fluid .row
{
    padding:10px;
}
#nav-container
{
    background-color: #999999;
    padding-left: 0;
    padding-right: 0;
}
nav
{
    background-color: #999999;
}
.navbar-nav
{
    background-color: aliceblue;
}
.navbar-brand.fw-bold
{
    padding-left:12px;

}
h2.text-center
{
    margin: 10px;
}
#content-place
{
    background-color: #999999;
    border:1px solid black;
    margin: 0 auto 40px auto;
}
@media (max-width:576px)
{
    section#content-place
{
    background-color: #999999;
    border:1px solid black;
}
.container-fluid .row
{
    padding:40px;
}

}