* {
    box-sizing: border-box;
    font-size: 20px;
}
body{
    height: 98vh;
    overflow-x:hidden ;
    display: flex;
    flex-direction: column;
}
button {
    margin-left: auto;
    margin-right: auto;
    height: 7vh;
    border-radius: 1.5vh;
    font-size: 70%;
    padding: 0;
}

.addmargin {
    margin-top: 50px;
}
.start{
    margin: auto;
    margin-top: calc(35% - 70px);
    margin-bottom: calc(25% - 70px);
    width:200px;
    height: 70px;
    vertical-align: middle;
}
.help {
    height: 100%;
}

table {
    border: 2px solid black;
    border-radius: 4px;
}

th {
    border: 2px solid black;
    border-radius: 4px;
}

td {
    border: 2px solid black;
    border-radius: 4px;
}

input[type="text"] {
    width: 100%;
}

button.add {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin:auto;
    margin-bottom: 6vh;
}
.scroll{
    overflow-y:auto;
    max-height: 450px;
    display:flex;
    flex-direction: column;
    overflow-x: hidden;
}
.scroll>*{
    margin: auto;
}
.settings{
    display: flex;
    flex-direction: row;
}
.settings>*{
    padding: 0;
    margin: auto;
}
.fixed{
    bottom: 50px;
    right:120px;
    display: flex;
}
.fixed>*{
    margin: auto;
}
button.bt {
    width: 45%;
    height: 50%;
    margin-bottom: 10px;
}
.copy{
    position: fixed;
    font-size: .5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0px;
}
.changeGrades{
    margin: 10px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;

}
.center{
    text-align: center;
}